@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

#credits-input-text-area {
    height: 200px;
}

html,
body {
  overflow: auto;
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #97DFFC;
  margin: 0;
  background-color: black;
  align-items: center;
}

.starwars .start {
  font-size: 200%;
  width: 100%;
  margin: 0 0 0 -50%;
  text-align: center;
  top: 0; 
}

.play-button {
  font-family: StarWars;
  cursor: pointer;
  font-size: 50px;
  border: 0;
  background: transparent;
  color: #97DFFC;
  text-shadow: none;
  transition: text-shadow 0.5s ease-out;
  outline: none;
  margin-top: 20px;
}

#import {
	font-family: StarWars;
	cursor: pointer;
	font-size: 50px;
	border: 0;
	background: transparent;
	color: #97DFFC;
	text-shadow: none;
	transition: text-shadow 0.5s ease-out;
	outline: none;
	margin-top: 20px;
  }
  
.play-button:focus, .play-button:hover, #import:focus, #import:hover, #export:focus, #export:hover, #public-url:focus, #public-url:hover {
    text-shadow: -1px 1px 8px #613DC1, 1px -1px 8px #613DC1; 
}

#form-credits-intro-creator textarea {
    width: 97%;
    margin-bottom: 0px;
    padding: 0.3em;
    border: 3px solid #858AE3;
    border-radius: 3px;
    background: black;
    color: #97DFFC;
    transition: border-color 0.7s ease-out;
    overflow-x: hidden; 
}

#form-credits-intro-creator textarea:active, #form-credits-intro-creator textarea:focus {
    border-color: #97DFFC; 
}

#form-credits-intro-creator textarea {
    resize: none; 
}

#form-credits-intro-creator {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: StarWars;
    font-size: 50px;
    font-weight: normal;
    line-height: 86%;
    width: 97%;
    text-shadow: -2px -2px 0 #97DFFC, -2px -1px 0 #97DFFC, -2px 0px 0 #97DFFC, -2px 1px 0 #97DFFC, -2px 2px 0 #97DFFC, -1px -2px 0 #97DFFC, -1px -1px 0 #97DFFC, -1px 0px 0 #97DFFC, -1px 1px 0 #97DFFC, -1px 2px 0 #97DFFC, 0px -2px 0 #97DFFC, 0px -1px 0 #97DFFC, 0px 0px 0 #97DFFC, 0px 1px 0 #97DFFC, 0px 2px 0 #97DFFC, 1px -2px 0 #97DFFC, 1px -1px 0 #97DFFC, 1px 0px 0 #97DFFC, 1px 1px 0 #97DFFC, 1px 2px 0 #97DFFC, 2px -2px 0 #97DFFC, 2px -1px 0 #97DFFC, 2px 0px 0 #97DFFC, 2px 1px 0 #97DFFC, 2px 2px 0 #97DFFC; 
}
    
#form-credits-intro-creator textarea#credits-input-text-area {
    margin-top: 10px; 
}

.title-wrapper {
    line-height: 100%;
    font-family: StarWars;
    align-items: center;
}

#page-title{
    text-align:center;
}


#titlecontent
{
	position: absolute;
	top: 100%;
	-webkit-animation: scroll 100s linear 4s infinite;
	-moz-animation: scroll 100s linear 4s infinite;
	-ms-animation: scroll 100s linear 4s infinite;
	-o-animation: scroll 100s linear 4s infinite;
	animation: scroll 100s linear 4s infinite;
}

@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -280%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -280%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -280%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -280%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -280%; }
}

#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
	-moz-transform: perspective(300px) rotateX(25deg);
	-ms-transform: perspective(300px) rotateX(25deg);
	-o-transform: perspective(300px) rotateX(25deg);
	transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titles p
{
	text-align: justify;
	margin: 0.8em 0;
}

#titles p.center
{
	text-align: center;
	text-transform: uppercase;
}

#titles a
{
	color: #ff6;
	text-decoration: underline;
}

.credits-rotation-wrapper {
	display: flex;
	width: 97%;
	justify-content: space-evenly;
	margin-top: 20px;
}

.settings-text {
	font-size: 30px;
	color: #97DFFC;
	text-shadow: none;
}

.credits-rotation-input {
    margin-bottom: 0px;
    padding: 0.3em;
    border: 3px solid #858AE3;
    border-radius: 3px;
    background-color: black;
    color: #97DFFC;
    transition: border-color 0.7s ease-out;
    overflow-x: hidden; 
}

.credits-screen-time-input {
	margin-bottom: 0px;
    padding: 0.3em;
    border: 3px solid #858AE3;
    border-radius: 3px;
    background-color: black;
    color: #97DFFC;
    transition: border-color 0.7s ease-out;
    overflow-x: hidden; 
}

.credits-title-input {
	margin-bottom: 0px;
    padding: 0.3em;
    border: 3px solid #858AE3;
    border-radius: 3px;
    background-color: black;
    color: #97DFFC;
    transition: border-color 0.7s ease-out;
    overflow-x: hidden; 
	width: 97%;
}

img {
	width: 25px;
}

.action-wrapper {
	overflow: hidden;
	position: absolute;
	top: 100vh;
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	left: 50%;
	transform: translate(-50%, -100%);
	padding: 10px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  	border-radius: 5px;
}

.action-wrapper:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
	filter: blur(10px);
	margin: -20px;
  }

.reverse-forward {
	transform: rotate(180deg);
}

.no-background {
	background-color: transparent;
	border: none;
}

#font-select {
	margin-bottom: 0px;
    padding: 0.3em;
    border: 3px solid #858AE3;
    border-radius: 3px;
    background-color: black;
    color: #97DFFC;
    transition: border-color 0.7s ease-out;
    overflow-x: hidden; 
}

.credits-container {
	display: flex;
	gap: 20px;
}

.credits-sound-input {
	margin-bottom: 0px;
    padding: 0.3em;
    border: 3px solid #858AE3;
    border-radius: 3px;
    background-color: black;
    color: #97DFFC;
    transition: border-color 0.7s ease-out;
    overflow-x: hidden; 
}

#selectFiles {
	position: absolute;
	top: -4000px;
}

#export {
	font-family: StarWars;
	cursor: pointer;
	font-size: 50px;
	border: 0;
	background: transparent;
	color: #97DFFC;
	text-shadow: none;
	transition: text-shadow 0.5s ease-out;
	outline: none;
	margin-top: 20px;
}

#public-url {
	font-family: StarWars;
	cursor: pointer;
	font-size: 50px;
	border: 0;
	background: transparent;
	color: #97DFFC;
	text-shadow: none;
	transition: text-shadow 0.5s ease-out;
	outline: none;
	margin-top: 20px;
}


.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	transform: translate(-50%, -50%);
	background-color: rgb(133, 138, 227, 0.7);
	padding: 20px;
	justify-content: center;
}

#submit {
	font-family: StarWars;
	cursor: pointer;
	font-size: 50px;
	border: 0;
	background: transparent;
	color: #97DFFC;
	text-shadow: none;
	transition: text-shadow 0.5s ease-out;
	outline: none;
	margin-top: 20px;
}

#submit-button {
	font-family: StarWars;
	cursor: pointer;
	font-size: 50px;
	border: 0;
	background: transparent;
	color: #97DFFC;
	text-shadow: none;
	transition: text-shadow 0.5s ease-out;
	outline: none;
	margin-top: 20px;
}

.action-password {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	transform: translate(-50%, -50%);
	justify-content: center;
}

.password-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.action-buttons {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.close-button {
	margin-left: 85%;
}
